/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(../images/cover-image-light.png);
  background-size: cover;
    background-repeat: no-repeat;
    block-size: 100vh;
    min-block-size: 668px;
  background-position: center;
}

:root .theme_light {
 --accent-color: #ff0070;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --title-border-color: #000000;
  --text-decor: #ff8dcb;
  --title-text-color: var(--text-color);
  --heading-color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --accent-color: #ff0070;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --title-border-color: #000000;
    --text-decor: #ff8dcb;
    --title-text-color: var(--text-color: );
    --heading-color: var(--text-color);
  }

  .page {
    background-image: url(../images/cover-image-light.png);
      background-size: cover;
        background-repeat: no-repeat;
        block-size: 100vh;
        min-block-size: 668px;
      background-position: center;   
    }

  .decor_rec {
    display: none;
  }
}

.decor_rec {
  display: none;
}



@media (width <= 375px) {
  .theme_light .header {
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    justify-self: center;
  
  }

  .theme_light .decorated-zone {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    block-size: 100vh;
    min-block-size: 668px;
    
  }

  .theme_light .header__text {
    margin-inline: 10px;
    margin-block-start: 17px;
    margin-block-end: 30px;
    align-self: center;
    word-wrap: break-word;
    text-align: left;
    

  }

  .theme_light .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-block-start: 75px;
    margin-inline-end: 8px;
    gap: 13px;
  }

  .theme_light .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-inline-start: 10px;
  }

  .theme_light .decor_corner::before {
    top: 95%;
    left: 10px;
  }

  .theme_light .decor_corner::after {
    top: 1.5%;
    left: 91%;
  }

  .theme_light .decor_rec::after {
    top: 4%;
    left: 81%;
  }

  .theme_light .decor_rec::before {
    top: 7%;
    left: 92.5%;
  }

  .theme_light .header__theme-menu-button_active:hover {
    outline: 1px solid rgb(53 52 48 / 0.5);
  }

  .theme_light .header__theme-menu-button_active:focus {
    outline: none;
  }

  .theme_light .header__theme-menu-button_active:focus-visible {
    outline: 1px solid rgb(53 52 48 / 0.5);
  }

  .theme_light .content_top-container {
    display: block;
  }

  .theme_light .content_top {
    margin-inline: 10px;
    margin-block-start: 40px;
    margin-block-end: 50px;
  }

  .theme_light .heading {
    margin-block-end: 20px;
  }

  .theme_light .content_top-container .card_block:first-of-type {
    margin-block-end: 22px;
  }

  .theme_light .content_middle-container {
    display: block;
  }

  .theme_light .content_middle {
    margin-inline: 10px;
    margin-block-end: 50px;
  }

  .theme_light .content_middle-heading {
    margin-block-end: 20px;
    margin-inline-end: 0px;
  }

  .theme_light .content_middle-container .card_block:nth-last-child(2) {
    margin-inline: 0px;
    margin-block: 0px;
  }

  .theme_light .content_middle-container .card_block .paragraph {
    margin-block-end: 21px;
  }

  .theme_light .content_bottom-container {
    display: block;
  }

  .theme_light .content_bottom {
    margin-inline: 10px;
    margin-block-end: 47px;
  }

  .theme_light .content_bottom-heading {
    margin-block-end: 20px;
    padding-inline-end: 0px;
  }

  .theme_light
    .content_bottom-container
    .card_block:first-of-type
    .card_title:first-of-type {
      margin-block-start: 20px;
    margin-block-end: 10px;
    font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
    font-weight: 700;
   
  }

  .theme_light .content_bottom-container .card_block .card_title {
    font-weight: 400;
    font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  }

  .theme_light .content_bottom-container .card_block:not(:last-of-type) {
    margin-block-end: 21px;
  }

  .theme_light .content_gallery {
    margin-inline: 10px;
    margin-block-end: 31px;
  }
  .theme_light .content_gallery-container {
    display: block;
    margin-block-start: 10px;
  }

  .theme_light .content_gallery-heading {
    margin-block-end: 10px;
  }

  .theme_light .content_picture {
    width: min(100%, 355px);
    height: 100%;
    margin-block-end: 6px;
  }

  .theme_light .footer {
    block-size: 100vh;
    min-block-size: 668px;
    
  }
}

@media (376px <= width <= 768px) {
  .theme_light .header {
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    justify-self: center;
  }

 

  .theme_light .header__text {
    margin-block-start: 97px;
    margin-inline-start: min(50%);
    margin-block-end: 212px;
  }

  .theme_light .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-block-start: 196px;
    margin-inline-end: 20px;
    gap: 10px;
  }

  .theme_light .decor_corner::before {
    top: 96%;
  }

  .theme_light .decor_corner::after {
    left: 94%;
  }

  .theme_light .decor_rec::after {
    left: 89%;
  }

  .theme_light .decor_rec::before {
    left: 94.5%;
  }

  .theme_light .header__theme-menu-button_active:hover {
    border: 1px solid rgb(53 52 48 / 0.5);
  }

  .theme_light .header__theme-menu-button_active:focus {
    border: none;
  }

  .theme_light .header__theme-menu-button_active:focus-visible {
    border-bottom: 1px solid rgb(53 52 48 / 0.5);
  }

  .theme_light .heading {
    padding-right: 30px;
  }

  .theme_light .content_top-container {
    grid-template-columns: calc(36%) calc(64%);
  }

  .theme_light .content_middle-container {
    display: block;
  }

  .theme_light .content_middle-container .card_block:nth-last-child(2) {
    margin-inline: 0px;
    margin-block: 23px;
  }

  .theme_light
    .content_bottom-container
    .card_block:first-of-type
    .card_title:first-of-type {
    margin-block-end: 20px;
    font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
    font-weight: 700;
  }

  .theme_light .content_bottom-container .card_block .card_title {
    font-weight: 400;
    font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  }

  .theme_light .content_bottom-container .card_block:not(:last-of-type) {
    margin-block-end: 26px;
  }

  .theme_light .content_bottom-container {
    grid-template-columns: calc(35%) calc(65%);
  }

  .theme_light .content_gallery-container {
    display: grid;
    grid-template-columns: 31% 32% 31%;
    grid-template-rows: 25% 29% 41%;
    height: 100%;
  }

  .theme_light .sunset {
    grid-area: sunset;
    width: min(100%, 479px);
  }

  .theme_light .ice-cream {
    grid-area: ice-cream;
    width: min(100%, 229px);
  }

  .theme_light .tape {
    grid-area: tape;
    width: min(100%, 229px);
  }

  .theme_light .books {
    grid-area: books;
    width: min(100%, 230px);
  }

  .theme_light .street {
    grid-area: street;
    width: min(100%, 479px);
  }

  .theme_light .footer {
    height: 1024px;
  }
}

@media (769px <= width < 1025px) {

  
  .theme_light .header__text {
    margin-inline-start: 50%;
  }

  .theme_light .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-block-start: 20px;
    gap: 6px;
  }

  .theme_light .decor_corner::before {
    top: 94%;
  }

  .theme_light .decor_corner::after {
    left: 96%;
  }

  .theme_light .decor_rec::after {
    left: 92%;
  }

  .theme_light .decor_rec::before {
    left: 96.5%;
  }

  .theme_light .header__theme-menu-button_active:hover {
    border: 1px solid rgb(53 52 48 / 0.5);
  }

  .theme_light .header__theme-menu-button_active:focus {
    border: none;
  }

  .theme_light .header__theme-menu-button_active:focus-visible {
    border-bottom: 1px solid rgb(53 52 48 / 0.5);
  }
}
