/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffeef6;
  background-attachment: fixed;
}

/* ---------------  HEADER ---------------  */

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-block-size: 668px;
}

.header__theme-menu {
  position: relative;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  color: var(--text-color);
  margin-block-start: 20px;
  gap: 5px;
}

.header__theme-menu-item {
  margin-inline-start: 5px;
}

.header__theme-menu-button {
  font-family: var(--fonts, IBM Plex Mono, Arial, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  padding: 1px 13px 5px 13px;
  border: none;
  background: none;
  color: var(--text-color);
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--btn-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--btn-focus-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--btn-focus-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--text-color);
}

.decor_rec::after {
  content: "rec";
  position: absolute;
  color: var(--accent-color);
  left: calc(94% - 15px);
  top: 20px;
  font-family: var(--fonts, IBM Plex Mono, Arial, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

.decor_rec::before {
  content: "";
  position: absolute;
  color: var(--accent-color);
  width: 9px;
  height: 9px;
  background: #ff0070;
  border-radius: 50%;
  left: calc(97% + 5px);
  top: 27px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.decor_corner::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: calc(96%);
  top: 20px;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: var(--text-color);
}

.decor_corner::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 20px;
  top: 723px;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: var(--text-color);
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-family: var(--fonts, IBM Plex Mono, Arial, sans-serif);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.header__text {
  font-family: var(--fonts, IBM Plex Mono, Arial, sans-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--title-text-color);
  justify-self: right;
  align-self: center;
  margin-inline: 20px;
  margin-block-start: 10px;
  margin-block-end: 30px;
}

.text-decor {
  background-color: var(--text-decor);
}

/* --------------- SECTION TOP ---------------  */

.content_top {
  font-family: var(--fonts, IBM Plex Mono, Arial, sans-serif);
  font-style: normal;
  line-height: 23.4px;
  font-size: 18px;
  margin-inline: 20px;
  margin-block-start: 60px;
  margin-block-end: 80px;
}

.content_top-container {
  display: grid;
  grid-template-columns: [title] calc(34%) [card] calc(66.5%);
  grid-auto-flow: row;
  row-gap: 20px;
}

.heading {
  font-size: 18px;
  font-weight: 700;
  color: var(--heading-color);
  grid-column: title;
}

.content_top-container .card_block {
  grid-column: card;
}

.card_block {
  display: grid;
  align-items: start;
  row-gap: 10px;
}

.card_title {
  font-size: 18px;
  font-weight: 700;
  color: var(--title-text-color);
}

.paragraph {
  font-weight: 400;
  color: var(--main-text-color);
  overflow-wrap: break-word;
  line-height: 23.4px;
}

.card_link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--text-decor);
}

.card_link:hover {
  border-bottom: 1px solid var(--link-status-color);
}

.card_link:focus {
  outline: none;
}

.card_link:focus-visible {
  outline: 1px solid var(--link-status-color);
}

/* --------------- SECTION MIDDLE ---------------  */

.content_middle {
  font-family: var(--fonts, IBM Plex Mono, Arial, sans-serif);
  font-style: normal;
  line-height: 23.4px;
  font-size: 18px;
  color: var(--text-color);
  margin-inline: 20px;
  margin-block-end: 80px;
}

.content_middle-container {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-template-rows: auto auto;
  column-gap: 20px;
  row-gap: 20px;
}

.content_middle-heading {
  font-size: 18px;
  font-weight: 700;
  color: var(--heading-color);
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  max-width: 315px;
}

/* --------------- SECTION BOTTOM ---------------  */

.content_bottom {
  font-family: var(--fonts, IBM Plex Mono, Arial, sans-serif);
  font-style: normal;
  line-height: 23.4px;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
  margin-inline: 20px;
  margin-block-end: 80px;
}

.content_bottom-container {
  display: grid;
  grid-template-columns: [title] calc(34%) [card] calc(66%);
  grid-auto-flow: row;
  row-gap: 20px;
}

.content_bottom-heading {
  grid-row-start: 1;
  grid-row-end: 7;
  font-size: 18px;
  font-weight: 700;
  color: var(--heading-color);
  grid-column: title;
}

.content_bottom-container .card_block {
  grid-column: card;
}

.content_bottom-container .card_title:not(:nth-child(2)) {
  font-weight: 400;
}

/* --------------- SECTION GALLERY ---------------  */

.content_gallery {
  font-family: var(--fonts, IBM Plex Mono, Arial, sans-serif);
  margin-inline: 20px;
  margin-block-end: 60px;
}

.content_gallery-container {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 25% 30% 41%;
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  row-gap: 20px;
  column-gap: 20px;
  height: 100%;
}

.content_gallery-heading {
  font-size: 18px;
  color: var(--title-text-color);
  margin-block-end: 20px;
}

.content_picture {
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.sunset {
  grid-area: sunset;
  width: min(100%, 649px);
}

.ice-cream {
  grid-area: ice-cream;
  width: min(100%, 315px);
}

.tape {
  grid-area: tape;
  width: min(100%, 315px);
}

.books {
  grid-area: books;
  width: min(100%, 315px);
}

.street {
  grid-area: street;
  width: min(100%, 649px);
}

/* ---------------  FOOTER ---------------  */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  width: 100%;
}

.footer__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-family: var(--fonts, IBM Plex Mono, Arial, sans-serif);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

@media (width <= 600px) {
  .header {
    min-block-size: 668px;
    width: max(47%, 355px);
  }

  .decorated-zone {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    block-size: 100vh;
    max-block-size: 668px;
  }

  .header__text {
    margin-inline: 10px;
    margin-block-start: 17px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    margin-block-start: 75px;
    margin-inline-end: 8px;
    gap: 13px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-inline-start: 10px;
  }

  .decor_corner::before {
    top: 95%;
    left: 10px;
  }

  .decor_corner::after {
    top: 1.5%;
    left: 91%;
  }

  .decor_rec::after {
    top: 4%;
    left: 81%;
  }

  .decor_rec::before {
    top: 7%;
    left: 92.5%;
  }

  .content_top-container {
    display: block;
  }

  .content_top {
    margin-inline: 10px;
    margin-block-start: 40px;
    margin-block-end: 50px;
  }

  .heading {
    margin-block-end: 20px;
  }

  .content_top-container .card_block {
    margin-block-end: 20px;
  }

  .content_middle {
    margin-inline: 10px;
    margin-block-end: 50px;
  }

  .content_middle-container {
    display: block;
  }

  .content_middle-heading {
    margin-block-end: 20px;
  }

  .content_middle-container .card_block {
    margin-block-end: 20px;
  }

  .content_bottom-container {
    display: block;
  }

  .content_bottom {
    margin-inline: 10px;
    margin-block-end: 50px;
  }

  .content_bottom-heading {
    margin-block-end: 20px;
  }

  .content_bottom-container .card_block {
    margin-block-end: 20px;
  }

  .content_bottom-container .card_title:nth-child(2) {
    margin-block-end: 19px;
  }

  .content_gallery {
    margin-inline: 10px;
    margin-block-end: 31px;
  }

  .content_gallery-container {
    display: block;
  }

  .content_gallery-heading {
    margin-block-end: 10px;
  }

  .content_picture {
    width: min(100%, 560px);
    margin-block-end: 6px;
  }

  .footer {
    max-block-size: 668px;
  }
}

@media (600px < width <= 768px) {
  .header {
    min-block-size: 1024px;
  }

  .header__text {
    width: max(47%, 364px);
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    margin-block-start: 196px;
    margin-inline-end: 20px;
    gap: 10px;
  }

  .decor_corner::before {
    top: 95.5%;
  }

  .decor_corner::after {
    left: 94%;
  }

  .decor_rec::after {
    left: 89%;
  }

  .decor_rec::before {
    left: 95%;
  }

  .heading {
    padding-right: 30px;
  }

  .content_top-container {
    display: grid;
    grid-template-columns: [title] calc(35%) [card] calc(65%);
    grid-auto-flow: row;
  }

  .content_middle-container {
    display: block;
  }

  .content_middle-heading {
    margin-inline-end: 70%;
    margin-block-end: 20px;
  }

  .content_middle-container .card_block {
    margin-block-end: 20px;
  }

  .content_bottom-container {
    grid-template-columns: [title] calc(35%) [card] calc(65%);
  }

  .content_gallery-container {
    grid-template-columns: 31% 32% 31%;
    grid-template-rows: 25% 29% 41%;
  }

  .sunset,
  .street {
    width: min(100%, 479px);
  }

  .ice-cream,
  .tape,
  .books {
    width: min(100%, 230px);
  }

  .footer {
    min-block-size: 1024px;
  }
}

@media (768px < width <= 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__text {
    width: max(47%, 491px);
  }

  .content_gallery {
    margin-block-end: 65px;
  }

  .decor_corner::before {
    top: 94%;
  }

  .decor_corner::after {
    top: 19px;
    left: 95.5%;
  }

  .decor_rec::after {
    left: 92%;
  }

  .decor_rec::before {
    left: 96%;
  }
}

@media (1024px < width <= 1440px) {
  .header {
    min-block-size: 900px;
  }

  .header__text {
    width: max(47%, 491px);
  }

  .content_gallery-container {
    grid-template-columns: 32% 32% 33%;
    grid-template-rows: 27% 29% 41%;
  }

  .decor_corner::before {
    top: 850px;
  }

  .decor_rec::before {
    left: 96.5%;
  }

  .sunset,
  .street {
    width: min(100%, 900px);
  }

  .ice-cream,
  .tape,
  .books {
    width: min(100%, 433px);
  }

  .footer {
    min-block-size: 900px;
  }
}

@media (width > 1440px) {
  .header {
    min-block-size: 1024px;
  }

  .content_gallery-container {
    grid-template-columns: 32% 32% 33%;
    grid-template-rows: 27% 29% 41%;
  }

  .decor_rec::before {
    left: 96.5%;
  }

  .decor_corner::before {
    top: 970px;
  }

  .sunset,
  .street {
    width: min(100%, 920px);
  }

  .ice-cream,
  .tape,
  .books {
    width: min(100%, 460px);
  }

  .footer {
    min-block-size: 1024px;
  }
}
