
.page {
  font-family: var(--fonts, Arial, sans-serif);
  font-variation-settings: 'wdth' var(--font-wdth), 'wght' var(--font-wght);
}

/* ---------------  HEADER ---------------  */

.header {
  width: 900;
  height: 100;
}

.block {
  width: 500;
  height: 600;
}

<<<<<<< HEAD
.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  color: var(--text-color);
  margin-block-start: 20px;
  gap: 5px;
}

.header__theme-menu-item {
  margin-inline-start: 5px;
}

.header__theme-menu-button {
  font-family: var(--fonts, IBM Plex Mono, Arial, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  padding: 1px 13px 5px 13px;
  border: none;
  background: none;
  color: var(--text-color);
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--btn-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--btn-focus-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--btn-focus-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--text-color);
}

.decor_rec::after {
  content: "rec";
  position: absolute;
=======
.accent {
>>>>>>> 72fc4c760ef0cedcf8c9d53fb27daef0b1718698
  color: var(--accent-color);
}
/* ---------------  FOOTER ---------------  */
.footer {
<<<<<<< HEAD
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  width: 100%;
}

.footer__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-family: var(--fonts, IBM Plex Mono, Arial, sans-serif);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

@media (width <= 600px) {
  .header {
    min-block-size: 668px;
    width: max(47%, 355px);
  }

  .decorated-zone {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    block-size: 100vh;
    max-block-size: 668px;
  }

  .header__text {
    margin-inline: 10px;
    margin-block-start: 17px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    margin-block-start: 75px;
    margin-inline-end: 8px;
    gap: 13px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-inline-start: 10px;
  }

  .decor_corner::before {
    top: 95%;
    left: 10px;
  }

  .decor_corner::after {
    top: 1.5%;
    left: 91%;
  }

  .decor_rec::after {
    top: 4%;
    left: 81%;
  }

  .decor_rec::before {
    top: 7%;
    left: 92.5%;
  }

  .content_top-container {
    display: block;
  }

  .content_top {
    margin-inline: 10px;
    margin-block-start: 40px;
    margin-block-end: 50px;
  }

  .heading {
    margin-block-end: 20px;
  }

  .content_top-container .card_block {
    margin-block-end: 20px;
  }

  .content_middle {
    margin-inline: 10px;
    margin-block-end: 50px;
  }

  .content_middle-container {
    display: block;
  }

  .content_middle-heading {
    margin-block-end: 20px;
  }

  .content_middle-container .card_block {
    margin-block-end: 20px;
  }

  .content_bottom-container {
    display: block;
  }

  .content_bottom {
    margin-inline: 10px;
    margin-block-end: 50px;
  }

  .content_bottom-heading {
    margin-block-end: 20px;
  }

  .content_bottom-container .card_block {
    margin-block-end: 20px;
  }

  .content_bottom-container .card_title:nth-child(2) {
    margin-block-end: 19px;
  }

  .content_gallery {
    margin-inline: 10px;
    margin-block-end: 31px;
  }

  .content_gallery-container {
    display: block;
  }

  .content_gallery-heading {
    margin-block-end: 10px;
  }

  .content_picture {
    width: min(100%, 560px);
    margin-block-end: 6px;
  }

  .footer {
    max-block-size: 668px;
  }
}

@media (600px < width <= 768px) {
  .header {
    min-block-size: 1024px;
  }

  .header__text {
    width: max(47%, 364px);
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    margin-block-start: 196px;
    margin-inline-end: 20px;
    gap: 10px;
  }

  .decor_corner::before {
    top: 95.5%;
  }

  .decor_corner::after {
    left: 94%;
  }

  .decor_rec::after {
    left: 89%;
  }

  .decor_rec::before {
    left: 95%;
  }

  .heading {
    padding-right: 30px;
  }

  .content_top-container {
    display: grid;
    grid-template-columns: [title] calc(35%) [card] calc(65%);
    grid-auto-flow: row;
  }

  .content_middle-container {
    display: block;
  }

  .content_middle-heading {
    margin-inline-end: 70%;
    margin-block-end: 20px;
  }

  .content_middle-container .card_block {
    margin-block-end: 20px;
  }

  .content_bottom-container {
    grid-template-columns: [title] calc(35%) [card] calc(65%);
  }

  .content_gallery-container {
    grid-template-columns: 31% 32% 31%;
    grid-template-rows: 25% 29% 41%;
  }

  .sunset,
  .street {
    width: min(100%, 479px);
  }

  .ice-cream,
  .tape,
  .books {
    width: min(100%, 230px);
  }

  .footer {
    min-block-size: 1024px;
  }
}

@media (768px < width <= 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__text {
    width: max(47%, 491px);
  }

  .content_gallery {
    margin-block-end: 65px;
  }

  .decor_corner::before {
    top: 94%;
  }

  .decor_corner::after {
    top: 19px;
    left: 95.5%;
  }

  .decor_rec::after {
    left: 92%;
  }

  .decor_rec::before {
    left: 96%;
  }
}

@media (1024px < width <= 1440px) {
  .header {
    min-block-size: 900px;
  }

  .header__text {
    width: max(47%, 491px);
  }

  .content_gallery-container {
    grid-template-columns: 32% 32% 33%;
    grid-template-rows: 27% 29% 41%;
  }

  .decor_corner::before {
    top: 850px;
  }

  .decor_rec::before {
    left: 96.5%;
  }

  .sunset,
  .street {
    width: min(100%, 900px);
  }

  .ice-cream,
  .tape,
  .books {
    width: min(100%, 433px);
  }

  .footer {
    min-block-size: 900px;
  }
}

@media (width > 1440px) {
  .header {
    min-block-size: 1024px;
  }

  .content_gallery-container {
    grid-template-columns: 32% 32% 33%;
    grid-template-rows: 27% 29% 41%;
  }

  .decor_rec::before {
    left: 96.5%;
  }

  .decor_corner::before {
    top: 970px;
  }

  .sunset,
  .street {
    width: min(100%, 920px);
  }

  .ice-cream,
  .tape,
  .books {
    width: min(100%, 460px);
  }

  .footer {
    min-block-size: 1024px;
  }
=======
  width: 900;
  height: 100;
>>>>>>> 72fc4c760ef0cedcf8c9d53fb27daef0b1718698
}
