/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: #ffeef6;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-self: center;
  block-size: 100vh;
  min-block-size: 668px;
  width: max(47%, 355px);
}

.header__theme-menu {
  position: relative;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  color: var(--text-color);
  margin-block-start: 20px;
  gap: 5px;
}

.header__theme-menu-item {
  margin-inline-start: 5px;
}

.header__theme-menu-button {
  font-family: var(--fonts, IBM Plex Mono, Arial, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  padding: 1px 13px 5px 13px;
  border: none;
  background: none;
  color: var(--text-color);
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--text-color);
}

.decor_rec::after {
  content: "rec";
  position: absolute;
  color: var(--accent-color);
  left: calc(94% - 15px);
  top: 20px;
  font-family: var(--fonts, IBM Plex Mono, Arial, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

.decor_rec::before {
  content: "";
  position: absolute;
  color: var(--accent-color);
  width: 9px;
  height: 9px;
  background: #ff0070;
  border-radius: 50%;
  left: calc(97% + 5px);
  top: 27px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.decor_corner::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: calc(96%);
  top: 20px;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: var(--text-color);
}

.decor_corner::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 20px;
  top: 723px;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: var(--text-color);
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-family: var(--fonts, IBM Plex Mono, Arial, sans-serif);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.header__text {
  margin-block: auto;
  margin-inline: 10px;
  font-family: var(--fonts, IBM Plex Mono, Arial, sans-serif);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--title-text-color);
  /*border: 1px solid var(--title-border-color);*/
}

.text-decor {
  background-color: var(--text-decor);
}

.decorated-zone {
}

@media (width <= 376px) {
  .theme_auto .header {
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    justify-self: center;
  }

  .theme_auto .decorated-zone {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    block-size: 100vh;
    max-block-size: 668px;
  }

  .theme_auto .header__text {
    margin-inline: 10px;
    margin-block-start: 17px;
    margin-block-end: 30px;
    align-self: center;
    word-wrap: break-word;
  }

  .theme_auto .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-block-start: 75px;
    margin-inline-end: 8px;
    gap: 13px;
  }

  .theme_auto .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-inline-start: 10px;
  }

  .theme_auto .decor_corner::before {
    top: 95%;
    left: 10px;
  }

  .theme_auto .decor_corner::after {
    top: 1.5%;
    left: 91%;
  }

  .theme_auto .decor_rec::after {
    top: 4%;
    left: 81%;
  }

  .theme_auto .decor_rec::before {
    top: 7%;
    left: 92.5%;
  }

  .theme_auto .header__theme-menu-button_active:hover {
    outline: 1px solid rgb(53 52 48 / 0.5);
  }

  .theme_auto .header__theme-menu-button_active:focus {
    outline: none;
  }

  .theme_auto .header__theme-menu-button_active:focus-visible {
    outline: 1px solid rgb(53 52 48 / 0.5);
  }

  .theme_auto .content_top-container {
    display: block;
  }

  .theme_auto .content_top {
    margin-inline: 10px;
    margin-block-start: 40px;
    margin-block-end: 50px;
  }

  .theme_auto .heading {
    margin-block-end: 20px;
  }

  .theme_auto .content_top-container .card_block:first-of-type {
    margin-block-end: 22px;
  }

  .theme_auto .content_middle-container {
    display: block;
  }

  .theme_auto .content_middle {
    margin-inline: 10px;
    margin-block-end: 50px;
  }

  .theme_auto .content_middle-heading {
    margin-block-end: 20px;
    margin-inline-end: 0px;
  }

  .theme_auto .content_middle-container .card_block:nth-last-child(2) {
    margin-inline: 0px;
    margin-block: 0px;
  }

  .theme_auto .content_middle-container .card_block .paragraph {
    margin-block-end: 21px;
  }

  .theme_auto .content_bottom-container {
    display: block;
  }

  .theme_auto .content_bottom {
    margin-inline: 10px;
    margin-block-end: 47px;
  }

  .theme_auto .content_bottom-heading {
    margin-block-end: 20px;
    padding-inline-end: 0px;
  }

  .theme_auto
    .content_bottom-container
    .card_block:first-of-type
    .card_title:first-of-type {
    margin-block-start: 20px;
    margin-block-end: 10px;
    font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
    font-weight: 700;
  }

  .theme_auto .content_bottom-container .card_block .card_title {
    font-weight: 400;
    font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  }

  .theme_auto .content_bottom-container .card_block:not(:last-of-type) {
    margin-block-end: 21px;
  }

  .theme_auto .content_gallery {
    margin-inline: 10px;
    margin-block-end: 31px;
  }
  .theme_auto .content_gallery-container {
    display: block;
    margin-block-start: 10px;
  }

  .theme_auto .content_gallery-heading {
    margin-block-end: 10px;
  }

  .theme_auto .content_picture {
    width: min(100%, 355px);
    height: 100%;
    margin-block-end: 6px;
  }

  .theme_auto .footer {
    block-size: 100vh;
    max-block-size: 668px;
    
  }
}

@media (376px <= width <= 768px) {

  .theme_auto .header {
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    justify-self: center;
    
  }

  .theme_auto .decorated-zone {

  }

  .theme_auto .header__text {
    margin-block-start: 7px;
    width: max(47%, 355px);
    margin-block-end: 30px;
    align-self: center;
    
  }

  .theme_auto .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-block-start: 196px;
    margin-inline-end: 20px;
    gap: 10px;
  }

  .theme_auto .decor_corner::before {
    top: 96%;
  }

  .theme_auto .decor_corner::after {
    left: 94%;
  }

  .theme_auto .decor_rec::after {
    left: 89%;
  }

  .theme_auto .decor_rec::before {
    left: 94.5%;
  }

  .theme_auto .header__theme-menu-button_active:hover {
    outline: 1px solid rgb(53 52 48 / 0.5);
  }

  .theme_auto .header__theme-menu-button_active:focus {
    outline: none;
  }

  .theme_auto .header__theme-menu-button_active:focus-visible {
    border-bottom: 1px solid rgb(53 52 48 / 0.5);
  }

  .theme_auto .heading {
    padding-right: 30px;
  }

  .theme_auto .content_top-container {
    grid-template-columns: calc(35%) calc(65%);
  }

  .theme_auto .content_top-container .card_block:first-of-type {
    margin-block-end: 26px;
  }

  .theme_auto .content_middle {
    margin-block-end: 82px;
  }

  .theme_auto .content_middle-container {
    display: block;
  }

  .theme_auto .content_middle-container .card_block:nth-last-child(2) {
    margin-inline: 0px;
    margin-block: 23px;
  }

  .theme_auto .content_bottom-heading {
    padding-inline-end: 20px;
  }

  .theme_auto
    .content_bottom-container
    .card_block:first-of-type
    .card_title:first-of-type {
    margin-block-end: 20px;
    font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
    font-weight: 700;
  }

  .theme_auto .content_bottom-container .card_block .card_title {
    font-weight: 400;
    font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  }

  .theme_auto .content_bottom-container .card_block:not(:last-of-type) {
    margin-block-end: 24px;
  }

  .theme_auto .content_bottom-container {
    grid-template-columns: calc(35%) calc(65%);
  }

  .theme_auto .content_gallery-container {
    display: grid;
    grid-template-columns: 31% 32% 31%;
    grid-template-rows: 25% 29% 41%;
    height: 100%;
  }

  .theme_auto .sunset {
    grid-area: sunset;
    width: min(100%, 479px);
  }

  .theme_auto .ice-cream {
    grid-area: ice-cream;
    width: min(100%, 229px);
  }

  .theme_auto .tape {
    grid-area: tape;
    width: min(100%, 229px);
  }

  .theme_auto .books {
    grid-area: books;
    width: min(100%, 230px);
  }

  .theme_auto .street {
    grid-area: street;
    width: min(100%, 479px);
  }

  .theme_auto .footer {
    height: 1024px;
  }
}

@media (769px <= width < 1025px) {

  .theme_auto .decorated-zone {

  }

  .theme_auto .header__text {

  }

  .theme_auto .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-block-start: 20px;
    gap: 6px;
  }

  .theme_auto .decor_corner::before {
    top: 94%;
  }

  .theme_auto .decor_corner::after {
    left: 96%;
  }

  .theme_auto .decor_rec::after {
    left: 92%;
  }

  .theme_auto .decor_rec::before {
    left: 96.5%;
  }

  .theme_auto .header__theme-menu-button_active:hover {
    outline: 1px solid rgb(53 52 48 / 0.5);
  }

  .theme_auto .header__theme-menu-button_active:focus {
    outline: none;
  }

  .theme_auto .header__theme-menu-button_active:focus-visible {
    border-bottom: 1px solid rgb(53 52 48 / 0.5);
  }
}

/* --------------- SECTION TOP ---------------  */

.content_top {
  font-family: var(--fonts, IBM Plex Mono, Arial, sans-serif);
  font-style: normal;
  line-height: 23px;
  font-size: 18px;
  margin-inline: 20px;
  margin-block-start: 60px;
  margin-block-end: 87px;
}

.content_top-container {
  display: grid;
  grid-template-columns: calc(34%) calc(66%);
  grid-template-rows: auto auto;
}

.heading {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 18px;
  font-weight: 700;
  color: var(--heading-color);
}

.card_title {
  font-size: 18px;
  font-weight: 700;
  color: var(--title-text-color);
  margin-block-end: 10px;
}

.paragraph {
  font-weight: 400;
  color: var(--main-text-color);
  overflow-wrap: break-word;
  line-height: 23.4px;
}

.content_top-container .card_block:first-of-type {
  margin-block-end: 20px;
}

.card_link {
  text-decoration: none;
  text-shadow: 1px 2px 0 var(--text-decor);
}

.card_link:hover {
  text-decoration: underline;
}

.card_link:focus {
  outline: none;
}

.card_link:focus-visible {
  outline: 1px solid var(--text-color);
}

/* --------------- SECTION MIDDLE ---------------  */

.content_middle {
  font-family: var(--fonts, IBM Plex Mono, Arial, sans-serif);
  font-style: normal;
  line-height: 23px;
  font-size: 18px;
  color: var(--text-color);
  margin-inline: 20px;
  margin-block-end: 87px;
}

.content_middle-container {
  display: grid;
  grid-template-columns: 32% 36% 32%;
  grid-template-rows: auto auto;
}

.content_middle-container .card_block:nth-last-child(2) {
  margin-inline: 20px;
}

.content_middle-heading {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-block-end: 20px;
  margin-inline-end: 669px;
  font-size: 18px;
  font-weight: 700;
  color: var(--heading-color);
}

/* --------------- SECTION BOTTOM ---------------  */

.content_bottom {
  font-family: var(--fonts, IBM Plex Mono, Arial, sans-serif);
  font-style: normal;
  line-height: 23px;
  font-size: 18px;
  color: var(--text-color);
  margin-inline: 20px;
  margin-block-end: 84px;
}

.content_bottom-container {
  display: grid;
  grid-template-columns: calc(34%) calc(66%);
  grid-template-rows: auto auto auto auto auto auto;
}

.content_bottom-heading {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 18px;
  font-weight: 700;
  color: var(--heading-color);
  padding-inline-end: 20px;
}

.content_bottom-container .card_block:first-of-type .card_title:first-of-type {
  margin-block-end: 20px;
}

.content_bottom-container .card_block:not(:last-of-type) {
  margin-block-end: 23px;
}
/* --------------- SECTION GALLERY ---------------  */

.content_gallery {
  font-family: var(--fonts, IBM Plex Mono, Arial, sans-serif);
  margin-inline: 20px;
  margin-block-end: 60px;
}

.content_gallery-container {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 25% 30% 41%;
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  row-gap: 20px;
  column-gap: 20px;
  height: 100%;
  margin-block-start: 20px;
}

.content_gallery-heading {
  font-size: 18px;
  color: var(--title-text-color);
}

.content_picture {
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.sunset {
  grid-area: sunset;
  width: min(100%, 649px);
}

.ice-cream {
  grid-area: ice-cream;
  width: min(100%, 315px);
}

.tape {
  grid-area: tape;
  width: min(100%, 315px);
}

.books {
  grid-area: books;
  width: min(100%, 315px);
}

.street {
  grid-area: street;
  width: min(100%, 649px);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  width: 100%;
}

.footer__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-family: var(--fonts, IBM Plex Mono, Arial, sans-serif);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}
