
:root.theme_light {
  --font-wdth: 100; 
  --font-wght: 400; 
  --bg-color: #fde894;
  --accent-color: #ff0070;
}


/*----------------------------------------------------------*/

:root .theme_dark {
  color: aqua;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: aqua
  }


}