:root {
  --fonts: "Inter";
  --accent-fonts: "PressStart2P";
  --font-wdth: 100; 
  --font-wght: 400; 
  
  --bg-color: #fde894;
  --accent-color: #ff0070;

  

/*------------------------------------*/

  --bg-image-dark: url(../images/cover-image-dark.png);
  --bg-image-light: url(../images/cover-image-light.png);
  --accent-color: #ff0070;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --text-decor: #ff8dcb;
}


